* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

body {
  display: grid;
  /* position: fixed; */
  width: 100%;
  background: #010101;
  justify-items: center;
  color: white;
}

main {
  display: grid;
  width: 95%;
  /* justify-content: center; */
}
h1 {
  text-align: center;
  padding: 2rem;
  font-size: 2.6rem;
}

a {
  border: #f8f8ff 1px outset;
  padding: .6rem;
  width: auto;
  border-radius: 8px;
  color: whitesmoke;
  text-decoration: none;
  justify-self: center;
  place-items: center;
  text-align: center;
}

a:hover{
  border: none;
  color:#010101;
  background: whitesmoke;
}

.infoTitle {
  margin-top: 1.2rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.infoParrafo {
  margin-top: 0.2rem;
  margin-left: 1.6rem;
}

.videoTitle {
  text-align: center;
  width: 100%;
  margin-top: 2rem;
}

#videoTwitch {
  width: 100%;
  margin-top: 1rem;
  display: grid;
  justify-items: center;
}

.videoContainer {
  display: grid;;
  width: 95%;
  justify-self: center;
  justify-items: center;
}

.buttonContainer {
  width: 95%;
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(3,1fr);
  justify-items: space-around;
}

@media (max-width: 600px) {
  a {
    width: 100px;
    padding: .4rem;
  }
}
@media (max-width: 380px) {
  a {
    height: 60px;
    width: 72px;
    padding: .2rem;
  }
}