* {
  margin: 0;
  box-sizing: border-box;
  font-family:  'Montserrat', Arial, Helvetica, sans-serif;
}

body {
  display: grid;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #010101;
  justify-items: center;
}

main {
  display: grid;
  justify-self: center;
  width: 95%;
}

.hero {
  display: grid;
  text-align: center;
  color:whitesmoke;
  margin: 4rem 0 2rem 0;
  place-items: center;
  justify-self: center;
}
video {
  width: 100%;
}
.hero-nav {
  display: grid;
  height: 80px;
  margin-top: 6rem;
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
}

.hero-nav a{
  display: grid;
  border: ghostwhite 1px outset;
  padding: 1rem;
  border-radius: 8px;
  color: whitesmoke;
  text-decoration: none;
  place-items: center;
  width: 50%;
  text-align: center;
}

.hero-nav a:hover{
  border: none;
  color:#010101;
  background: whitesmoke;
  /* text-decoration:none */
}

.hero-gifs {
  /* background: red; */
  display: grid;
  width: 100%;
}

.hero-prox {
  color: whitesmoke;
  font-weight: bolder;
  letter-spacing: 3px;
  /* background-color: yellow; */
  display: grid;
  justify-items: center;
  height: 200px;
  padding: 2rem;
}

.hero-prox h3{
  margin-top: 2rem;
}

video {
  width: 100%;
}

h1 {
  text-align: center;
}

@media (max-width: 600px) {
  .hero-nav {
    height: 60px;
  }
  .hero-nav a {
    width: 100px;
    padding: .4rem;
  }
}

@media (max-width: 380px) {
  .hero-nav {
    height: 80px;
  }
  .hero-nav a {
    width: 80px;
    padding: .2rem;
  }
}